* {
  margin: 0; 
  padding: 0; 
}

table { 
  border-spacing: 1px; 
}

.chessboard { 
  padding: 0px; 
  margin: 0 auto; 
  border: 2px solid #0e7fe9; 
}

.chessboard tr td { 
  width: 45px; 
  height: 45px; 
}

.possibleDest {
  filter: sepia(100%);
  filter: hue-rotate(90deg);
}

.selected {
  filter: opacity(25%);
}

.selectedCapture {
  filter: opacity(25%);
}

.chessboard tr:nth-child(2n) td:nth-child(2n+1) { 
  /* https://coderbyte.com/tutorial/create-a-simple-chessboard-using-html-css-and-jquery */
  background: #40e070e7;
}

.chessboard tr:nth-child(2n+1) td:nth-child(2n) { 
  background: #40e070e7;
}

.chessboard tr:nth-child(2n) td:nth-child(2n) { 
  background: #f5f106a8;
}

.chessboard tr:nth-child(2n+1) td:nth-child(2n+1) { 
  background: #f5f106a8;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.whiteking {
  background: url(./Chess_Pieces_Sprite.png) 0px 0px;
  display: inline-block;
  height: 45px;
  width: 45px;
}
.whitequeen {
  background: url(./Chess_Pieces_Sprite.png) -45px 0px;
  display: inline-block;
  height: 45px;
  width: 45px;
}
.whitebishop {
  background: url(./Chess_Pieces_Sprite.png) -90px 0px;
  display: inline-block;
  height: 45px;
  width: 45px;
}
.whiteknight {
  background: url(./Chess_Pieces_Sprite.png) -135px 0px;
  display: inline-block;
  height: 45px;
  width: 45px;
}
.whiterook {
  background: url(./Chess_Pieces_Sprite.png) -180px 0px;
  display: inline-block;
  height: 45px;
  width: 45px;
}
.whitepawn {
  background: url(./Chess_Pieces_Sprite.png) -225px 0px;
  display: inline-block;
  height: 45px;
  width: 45px;
}
.blackking {
  background: url(./Chess_Pieces_Sprite.png) 0px -45px;
  display: inline-block;
  height: 45px;
  width: 45px;
}
.blackqueen {
  background: url(./Chess_Pieces_Sprite.png) -45px -45px;
  display: inline-block;
  height: 45px;
  width: 45px;
}
.blackbishop {
  background: url(./Chess_Pieces_Sprite.png) -90px -45px;
  display: inline-block;
  height: 45px;
  width: 45px;
}
.blackknight {
  background: url(./Chess_Pieces_Sprite.png) -135px -45px;
  display: inline-block;
  height: 45px;
  width: 45px;
}
.blackrook {
  background: url(./Chess_Pieces_Sprite.png) -180px -45px;
  display: inline-block;
  height: 45px;
  width: 45px;
}
.blackpawn {
  background: url(./Chess_Pieces_Sprite.png) -225px -45px;
  display: inline-block;
  height: 45px;
  width: 45px;
}
